.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #e0e0e0;
  padding: 1.4rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.header__search {
  display: flex;
  flex: 1;
  margin-left: 25em;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border-color: 3px black;
  width: 100%;
}
.gymshark_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  color: 0.1rem #404040 solid;;
}
.search___icon {
  padding: 5px;
  height: 22px !important;
}
.nav_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.nav__option1 {
  font-size: 10px;
}
.nav_option2 {
  font-size: 13px;
  font-weight: 800;
}
span {
  margin: 0.5rem

}
a {
  text-decoration: none;
  color: black;
}
.CartAdd {
  margin-left: 50rem
}
.submit {
  margin-right: 20em
  
}
button {

  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 20em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}