img {
    width: 30em;
    margin-left: 45em;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 2em;
}
.name{
    margin-left: 43em;
    margin-top: 1em;
}
.price{
    margin-left:55em;
}
.dept{
    font-weight: 800;
    margin-left: 55em;
}

.desc1 {
    font-weight: 600;
}
.desc2{
    margin: 0 auto;

}
.delete{
    margin-left: 60em;
    margin-bottom: 2em;
}
.whole{
    border: 2px solid black;
    margin-top: 3em;
}